<!-- footer -->
<div class="footer-top-area">
   <div class="zigzag-bottom"></div>
   <div class="container">
      <div class="row">
         <div class="col-md-3 col-sm-6">
            <div class="footer-about-us">
               <img src="{{ site.baseurl }}/assets/img/logo_only_kcactus_hj.png" class="logo-bottom">
               <p>
                  <b>Keluarga Cactus</b> {{ site.description | escape }}
               </p>
               <p class="social">
                  <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook"></i> <span class="text-grey">@{{ site.facebook_username }}</span></a><br/>
                  <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank"><i class="fa fa-instagram"></i> <span class="text-grey">@{{ site.instagram_username }}</span></a><br/>
                  <a href="https://api.whatsapp.com/send?phone={{ site.whatsapp_api }}&text=Hi!%20@keluargacactus%20:%20" target="_blank"><i class="fa fa-whatsapp"></i> <span class="text-grey">{{ site.whatsapp_readable }} (Whatsapp/SMS)</span></a><br/>
               </p>
               <div class="footer-social">
                  <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a href="https://api.whatsapp.com/send?phone={{ site.whatsapp_api }}&text=@keluargacactus%20:%20" target="_blank"><i class="fa fa-whatsapp"></i></a>
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="footer-menu">
               <h2 class="footer-wid-title">Link</h2>
               <ul>
                  <li><a href="{{ site.baseurl }}/cara-membeli/">Cara Membeli</a></li>
                  <li><a href="{{ site.baseurl }}/konfirmasi-pembayaran/">Konfirmasi Pembayaran</a></li>
                  <li><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
                  <li><a href="{{ site.baseurl }}/tips-merawat/">Cara Merawat</a></li>
                  <li><a href="{{ site.baseurl }}/kontak-kami/">Kontak</a></li>
                  <li><a href="{{ site.baseurl }}/about/">About</a></li>
               </ul>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="footer-menu">
               <h2 class="footer-wid-title">Produk</h2>
               <ul>
                  <li><a href="{{ site.baseurl }}/kaktus/">Kaktus</a></li>
                  <li><a href="{{ site.baseurl }}/sukulen/">Sukulen</a></li>
                  <li><a href="{{ site.baseurl }}/pot/">Pot</a></li>
               </ul>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
            <div class="footer-newsletter">
               <h2 class="footer-wid-title">Cek Pengiriman</h2>
               <p>Anda bisa memeriksa paket kiriman anda dengan memasukan nomor resi pada kotak dibawah.</p>
               <div class="newsletter-form">
                  <form method="GET" action="http://www.cekresi.com" target="_blank" id="cekresiform" name="cekresiform">
                     <input type="text"  name="noresi" value="" placeholder="Nomor Resi"/>
                     <input type="hidden" name="v" value="w1"/>
                     <button type="submit"  id="cekbutton">Cek Resi</button>    
                     <em>Powered by cekresi.com</em>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End footer top area -->
<div class="footer-bottom-area">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
            <div class="copyright">
               <p>&copy; 2017 <a href="">Keluarga Cactus</a> powered by uCommerce. </p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="motto">
               <p>
                  Grow Cactus <span class="fa fa-tree text-success"></span>, Grow Love <span class="fa fa-heart text-danger"></span> 
               </p>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End footer bottom area -->
<!-- Latest jQuery form server -->
<script src="https://code.jquery.com/jquery.min.js"></script>
<!-- Bootstrap JS form CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- jQuery sticky menu -->
<script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.sticky.js"></script>
<!-- jQuery easing -->
<script src="{{ site.baseurl }}/assets/js/jquery.easing.1.3.min.js"></script>
<!-- Main Script -->
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
<!-- Slider -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/bxslider.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/script.slider.js"></script>
