<div class="header-area">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
            <div class="user-menu">
               <ul>
                  <li><a href="https://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram"></i><i class="fa fa-facebook"></i>@{{ site.instagram_username }}</a></li>
                  <li><a href="https://api.whatsapp.com/send?phone={{ site.whatsapp_api }}&text=@keluargacactus%20:%20"><i class="fa fa-whatsapp"></i>{{ site.whatsapp_readable }}</a></li>
               </ul>
            </div>
         </div>
         <div class="col-md-4">
            <div class="header-right">
               <ul class="list-unstyled list-inline">
                  <li class="dropdown dropdown-small">
                  <li><a href="faq.html"><i class="fa fa-question"></i> F.A.Q</a></li>
                  <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key"></span><span class="value">Bahasa Indonesia </span><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                     <li><a href="#">Bahasa Indonesia</a></li>
                  </ul>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End header area -->
<div class="site-branding-area">
   <div class="container">
      <div class="row">
         <div class="col-sm-6">
            <div class="logo">
               <h1><a href="index.html"><img src="img/logo_kcactus_hjg.png"></a></h1>
               <span class="desc hide">Jual kaktus dan sukulen</span>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="shopping-item hide">
               <a href="cart.html">Cart - <span class="cart-amunt">$100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End site branding area -->
<div class="mainmenu-area">
   <div class="container">
      <div class="row">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
         </div>
         <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav ">
               <li class="small-logo-bar"><img src="assets/img/logo_only_kcactus_hj.png"></li>
               <li><a href="index.html">Home</a></li>
               <li><a href="kaktus.html">Kaktus</a></li>
               <li><a href="sukulen.html">Sukulen</a></li>
               <li><a href="pot.html">Pot</a></li>
               <li class="active"><a href="cara-membeli.html">Cara Membeli</a></li>
               <li><a href="tips-merawat.html">Tips Merawat</a></li>
               <li><a href="kontak-kami.html">Kontak</a></li>
               <li><a href="about.html">About</a></li>
               <!--
                  <li><a href="single-product.html">Single product</a></li>
                  <li><a href="cart.html">Cart</a></li>
                  <li><a href="checkout.html">Checkout</a></li>
                  <li><a href="#">Category</a></li>
                  <li><a href="#">Others</a></li>
                  <li><a href="#">Contact</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li class="tab-yellow"><a href="kontes-instagram.html"><span class="fa fa-instagram"></span> #keluargacactus</a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
<!-- End mainmenu area -->
